@model TopSegurosBrasil.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900">Editar Cliente</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label asp-for="Nome" for="name" class="labelCreateClients">Nome Completo</label>
            <input asp-for="Nome" type="text" id="name" class="inputCreateClients" placeholder="John" />
            <span asp-validation-for="Nome" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div>
            <label asp-for="DataNascimento" for="dataNascimento" class="labelCreateClients">Data de Nascimento</label>
            <input asp-for="DataNascimento" type="date" id="dataNascimento" class="inputCreateClients" placeholder="Doe">
            <span asp-validation-for="DataNascimento" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div>
            <label asp-for="Email" for="email" class="labelCreateClients">Email</label>
            <input asp-for="Email" type="text" id="email" class="inputCreateClients" placeholder="doe@mail.com">
            <span asp-validation-for="Email" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div>
            <label asp-for="Celular" for="phone" class="labelCreateClients">Celular</label>
            <input asp-for="Celular" type="text" id="phone" class="inputCreateClients" placeholder="00-12345-6789">
            <span asp-validation-for="Celular" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div>
            <label asp-for="Cpf" for="cpf" class="labelCreateClients">CPF</label>
            <input asp-for="Cpf" type="text" id="cpf" class="inputCreateClients" placeholder="123-456-789-01">
            <span asp-validation-for="Cpf" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div>
            <label asp-for="Rg" for="rg" class="labelCreateClients">RG</label>
            <input asp-for="Rg" type="number" id="rg" class="inputCreateClients" placeholder="00.00.00.0">
            <span asp-validation-for="Rg" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>

        <div>
            <label asp-for="Genero" for="genero" class="labelCreateClients">Gênero</label>
            <span asp-validation-for="Genero" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
            <select asp-for="Genero" for="genero" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
    </div>



    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div class="mb-6">
            <label asp-for="Cidade" for="cidade" class="labelCreateClients">Cidade</label>
            <input asp-for="Cidade" type="text" id="cidade" class="inputCreateClients" placeholder="São Paulo">
            <span asp-validation-for="Cidade" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Estado" for="estado" class="labelCreateClients">Estado</label>
            <input asp-for="Estado" type="text" id="estado" class="inputCreateClients" placeholder="São Paulo">
            <span asp-validation-for="Estado" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Bairro" for="bairro" class="labelCreateClients">Bairro</label>
            <input asp-for="Bairro" type="text" id="bairro" class="inputCreateClients" placeholder="Trion Masp">
            <span asp-validation-for="Bairro" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Cep" for="cep" class="labelCreateClients">Cep</label>
            <input asp-for="Cep" type="number" id="cep" class="inputCreateClients" placeholder="12">
            <span asp-validation-for="Cep" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Num_Imovel" for="num_Imovel" class="labelCreateClients">Número da Residência</label>
            <input asp-for="Num_Imovel" type="number" id="num_Imovel" class="inputCreateClients" placeholder="12">
            <span asp-validation-for="Num_Imovel" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
    </div>

    <button type="submit" class="mb-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Editar Cliente</button>
    <div>
        <a asp-action="Index" class="underline font-medium text-blue-600 dark:text-blue-500 hover:underline">Voltar para lista</a>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }