@model TopSegurosBrasil.Models.ViewModels.VeiculoFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900">Criar Veiculo</h1>

<nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 mb-8" aria-label="Breadcrumb" id="criando-apenas-veiculo">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
            <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900">
                <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                Home
            </a>
        </li>
        <li>
            <div class="flex items-center">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2">Tabela Veiculos</a>
            </div>
        </li>
        <li aria-current="page">
            <div class="flex items-center">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <span class="ml-1 text-sm font-medium text-blue-600 md:ml-2">Criando Veiculos</span>
            </div>
        </li>
    </ol>
</nav>

<nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 mb-8 hidden" aria-label="Breadcrumb" id="criando-cliente">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
            <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900">
                <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                Home
            </a>
        </li>
        <li aria-current="page">
            <div class="flex items-center">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <span class="ml-1 text-sm font-medium text-gray-700 md:ml-2">Cliente Criado</span>
            </div>
        </li>
        <li aria-current="page">
            <div class="flex items-center">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <span class="ml-1 text-sm font-medium text-blue-600 md:ml-2">Criando Veiculos</span>
            </div>
        </li>
    </ol>
</nav>




<form asp-action="Create">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label asp-for="Veiculo.Chassi" for="Chassi" class="labelCreateClients">Chassi</label>
            <input asp-for="Veiculo.Chassi" type="text" id="Chassi" class="inputCreateClients" placeholder="" />
            <span asp-validation-for="Veiculo.Chassi" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div>
            <label asp-for="Veiculo.Cor" for="Cor" class="labelCreateClients">Cor</label>
            <input asp-for="Veiculo.Cor" type="text" id="Cor" class="inputCreateClients" placeholder="#0000">
            <span asp-validation-for="Veiculo.Cor" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div>
            <label asp-for="Veiculo.FabricanteId" class="labelCreateClients"></label>
            <select asp-for="Veiculo.FabricanteId" asp-items="@(new SelectList(Model.Fabricantes,"Id","NomeDoFabricante"))" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"></select>
        </div>
        <div>
            <label asp-for="Veiculo.AnoDosModeloId" class="labelCreateClients"></label>
            <select asp-for="Veiculo.AnoDosModeloId" asp-items="@(new SelectList(Model.AnoDosModelos,"Id","AnoModelo"))" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"></select>
        </div>
        <div>
            <label asp-for="Veiculo.VersaoDoModelo" for="VersaoDoModelo" class="labelCreateClients">Versão do Modelo</label>
            <input asp-for="Veiculo.VersaoDoModelo" type="text" id="VersaoDoModelo" class="inputCreateClients" placeholder="DZS-0102">
            <span asp-validation-for="Veiculo.VersaoDoModelo" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div>
            <label asp-for="Veiculo.Placa" for="Placa" class="labelCreateClients">Placa</label>
            <input asp-for="Veiculo.Placa" type="text" id="Placa" class="inputCreateClients" placeholder="DZS-0102">
            <span asp-validation-for="Veiculo.Placa" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div>
            <label asp-for="Veiculo.ClienteId" for="client_id" class="labelCreateClients">Client Id</label>
            <input asp-for="Veiculo.ClienteId" type="number" id="client_id" class="inputCreateClients" placeholder="00.00.00.0">
            <span asp-validation-for="Veiculo.ClienteId" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
    </div>

    <button type="submit" class="mb-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Criar Veiculo</button>
    <div>
        <a asp-action="Index" class="underline font-medium text-blue-600 dark:text-blue-500 hover:underline">Voltar para lista</a>
    </div>
</form>

<script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('idUsuario');

    const criandoCliente = document.getElementById("criando-cliente")
    const criandoApenasVeiculo = document.getElementById("criando-apenas-veiculo")
    const clientIdInput = document.getElementById("client_id")

    clientIdInput.value = myParam;

    if (myParam) {
        clientIdInput.disabled = true;
        criandoCliente.classList.add("block");
        criandoCliente.classList.remove("hidden");

        criandoApenasVeiculo.classList.add("hidden")
        criandoApenasVeiculo.classList.remove("block")
    } else {
        criandoCliente.classList.remove("block");
        criandoCliente.classList.add("hidden");

        criandoApenasVeiculo.classList.add("block")
        criandoApenasVeiculo.classList.remove("hidden")
    }


</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
