@model TopSegurosBrasil.Models.AnoDosModelo

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900">Detalhes Ano dos Modelos</h1>

<div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label for="Id" class="labelCreateClients">Id do Ano dos Modelos</label>
            <input value="@Html.DisplayFor(model => model.Id)" type="text" id="Id" class="inputCreateClients" placeholder="0" disabled />
        </div>
        <div>
            <label for="NomeDoFabricante" class="labelCreateClients">Nome do Fabricante</label>
            <input value="@Html.DisplayFor(model => model.AnoModelo)" type="text" id="NomeDoFabricante" class="inputCreateClients" placeholder="Nome do fabricante" disabled />
        </div>
    </div>
    <div>
        <a asp-action="Index" class="underline font-medium text-blue-600 dark:text-blue-500 hover:underline">Voltar para lista</a>
    </div>
</div>
