@model TopSegurosBrasil.Models.Fabricante

@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900">Criar Fabricante</h1>

<form asp-action="Create">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label asp-for="NomeDoFabricante" for="NomeDoFabricante" class="labelCreateClients">Nome do Fabricante</label>
            <input asp-for="NomeDoFabricante" type="text" id="NomeDoFabricante" class="inputCreateClients" placeholder="Nome do fabricante" />
            <span asp-validation-for="NomeDoFabricante" class="mt-1 text-sm text-red-600 dark:text-red-500"></span>
        </div>
    </div>
    <button type="submit" class="mb-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cadastrar Cliente</button>
    <div>
        <a asp-action="Index" class="underline font-medium text-blue-600 dark:text-blue-500 hover:underline">Voltar para lista</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
