@model TopSegurosBrasil.Models.Apolice

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900">Detalhes da Apolice</h1>

<div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label for="DataInicioContrato" class="labelCreateClients">Inicio do Contrato</label>
            <input value="@Html.DisplayFor(model => model.DataInicioContrato)" id="DataInicioContrato" class="inputCreateClients" placeholder="" />
        </div>
        <div>
            <label for="DataVencimento" class="labelCreateClients">Validade do Contrato</label>
            <input value="@Html.DisplayFor(model => model.DataVencimento)" id="DataVencimento" class="inputCreateClients" placeholder="" />
        </div>
        <div>
            <label for="VeiculoId" class="labelCreateClients">Veiculo Id</label>
            <input value="@Html.DisplayFor(model => model.VeiculoId)" type="number" id="VeiculoId" class="inputCreateClients" placeholder="" />
        </div>
        <div>
            <label for="PlanoDoSeguroId" class="labelCreateClients">Plano do Seguro</label>
            <input value="@Html.DisplayFor(model => model.PlanoDoSeguro.NomeDoPlano)" class="inputCreateClients" disabled />
        </div>
    </div>

    <div>
        <a asp-action="Index" class="underline font-medium text-blue-600 dark:text-blue-500 hover:underline">Voltar para lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }