@model TopSegurosBrasil.Models.TiposDeSeguro

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900">Detalhes do Seguro</h1>

<div>
    <div class="mb-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nome do Seguro</label>
        <input value="@Html.DisplayFor(model => model.Name)" type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" disabled />
    </div>
    <div class="mb-4">
        <label for="DescTipoDeSeguro" class="block mb-2 text-sm font-medium text-gray-900"></label>
        <textarea disabled id="DescTipoDeSeguro" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500">@Html.DisplayFor(model => model.DescTipoDeSeguro)
            </textarea>
    </div>

    <div>
        <a asp-action="Index" class="underline font-medium text-blue-600 dark:text-blue-500 hover:underline">Voltar para lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }